@model DatabaseProvide.Phim
    @{ 

    }
<div style="display:flex;">
    <div style="margin-left:10px;margin-top:5px; border:2px solid red;border-radius:15px; text-align:center;">
        <form>
            <label>Id Phim  :</label><input name="a2" readonly value="@Model.IDP" style="margin-left:20px;margin-top:20px; height: auto;width : 200px;"><br><br>
            <label>Ten Phim :</label><input name="b2" value="@Model.TenPhim" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            <label>The Loai :</label>
            <select name="c2">
                <option value="hanh fong">Hành Động</option>
                <option value="vo thuat">Võ Thuật</option>
                <option value="hai huoc">Hề Hước</option>
                <option value="co trang">Cổ Trang</option>
                <option value="kinh di">Kinh Dị</option>
                <option value="tinh cam">Tình Củm</option>
                <option value="phim bo">Phim Bộ</option>
                <option value="phim tai lieu">Phim Tài Liệu</option>
                <option value="hoat hinh">Hoạt Hình</option>
            </select><br><br>
            @{
                String[] arr = @Model.Poster.Split('=');
                String oldLink = "https://drive.google.com/file/d/" + arr[1] + "/view?usp=sharing";
            }
            <label>Poster   :</label><input value="@oldLink" name="d2" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            <label>Dien vien:</label><input value="@Model.DienVien" name="e2" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            @{
                String[] arr1 = @Model.Anhdienvien.Split('=');
                String oldLink1 = "https://drive.google.com/file/d/" + arr1[1] + "/view?usp=sharing";
            }
            <label>Anh Dien vien:</label><input value="@oldLink1" name="k2" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            @{
                string date = Model.timePost.ToString("yyyy-MM-dd");
            }
            <label>Time post:</label><input value="@date" name="f2" type="date" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            @{
                String[] arr2 = @Model.Image.Split('=');
                String oldLink2 = "https://drive.google.com/file/d/" + arr2[1] + "/view?usp=sharing";
            }
            <label>Anh mota :</label><input value="@oldLink2" name="g2" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            <label>Mota Phim:</label> <textarea style="height:200px;width:300px;" name="h2">@Model.MoTa</textarea><br><br>
            @{
                String[] arr3 = @Model.Trailer.Split('/');
                String oldLink3 = "https://youtu.be/" + arr3[4];
            }
            <label>Trailer  :</label><input value="@oldLink3" name="i2" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            <button type="submit">Update</button>
        </form>
        @using (Ajax.BeginForm("tapphim", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "detailtap", InsertionMode = InsertionMode.Replace }))
        {
            <button type="submit" value="@Model.IDP" name="IDPForCm">Edit cac tap phim</button>
        }

        <p style="color:red; font-size:16px;">
            messeage
        </p>
    </div>
    <div id="detailtap" style="margin-top:10px; margin-left: 10px;"></div>
</div>