
@{
    Layout = null;
}

<!DOCTYPE html>
@model List<DatabaseProvide.Phim>
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Assets/Admin/css/images/logo01.png" />
    <title>SSh-ResultSearchFilm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/Assets/Admin/css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/Admin/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="~/Assets/Admin/js/jquery-func.js"></script>
    <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
    <img src="~/Assets/images/quangcao.jpg" style="height:750px;margin-top:5px;width:230px;margin-left:20px; position: fixed;" />
    <img src="~/Assets/images/quangcao.jpg" style="height:750px;margin-top:5px;width:230px;margin-left:1270px; position: fixed;" />
    <!-- START PAGE SOURCE -->
    <div id="shell">
        <div id="header" style="background-color:darkgray;">
            <h1 id="logo"><a href="/Home/Index">SSH-film</a></h1>
            <div class="social">
                <span style="color:black;">Theo dõi :</span>
                <ul>
                    <li><a class="twitter" href="#">twitter</a></li>
                    <li><a class="facebook" href="#">facebook</a></li>
                    <li><a class="vimeo" href="#">vimeo</a></li>
                    <li><a class="rss" href="#">rss</a></li>
                </ul>
            </div>
            <div id="navigation">
                <form action="/Home/LogoutSystem" method="POST">
                    <ul>
                        @if (System.Web.HttpContext.Current.Session["login1"] != null)
                        {
                            <li><a style="color:red;" href="/User/ChangePass">Xin Chào : @((Session["login1"] as DatabaseProvide.Account).Username)</a></li>
                            <li><button>Đăng Xuất</button></li>
                            <li><a href="/Favorite/Myfavorite">Yêu Thích</a></li>
                            <li><a href="/News/NewPage">Phim Sắp Ra Mắt</a></li>
                            <li><a href="mailto:hung6nuh@gmail.com">CONTACT</a></li>
                        }
                        else
                        {
                            <li><a href="/Login/Login">Đăng Nhập</a></li>
                            <li><a href="/Register/Register">Đăng Ký</a></li>
                            <li><a href="/News/NewPage">Phim Sắp Ra Mắt</a></li>
                            <li><a href="mailto:hung6nuh@gmail.com">Liên Hệ</a></li>
                        }
                    </ul>
                </form>
            </div>
            <div id="sub-navigation">
                <ul>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Hanh Dong">Hành Động</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Vo Thuat">Võ Thuật</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=He Huoc">Hề Hước</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Co Trang">Cổ Trang</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Kinh Di">Kinh Dị</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Tinh Cam">Tình Cảm</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Phim Bo">Phim Bộ</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Phim tai lieu">Phim Tài Liệu</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Hoat Hinh">Hoạt Hình</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Hoat Hinh">Anime</a></li>
                    <li><a href="/TheLoai/TheLoai?txttheloai=Hoat Hinh">TV show_THTT</a></li>
                </ul>
                <div id="search" style="margin-top:35px;">
                    <form action="/Search/ResultSearch" accept-charset="utf-8">
                        <label for="search-field">Tìm Kiếm</label>
                        <input type="text" name="txt" placeholder="Nhập tên Phim Muốn tìm" id="search-field" class="blink search-field" pattern="^(?=.*\S).+$" required />
                        <input type="submit" value="GO!" class="search-button" />
                    </form>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="content">
                <div class="box">
                    <div class="head">
                        <h2>Result Search</h2>
                        <p class="text-right"><a href="#">...</a></p>
                    </div>
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            if (count % 6 == 0)
                            {
                                <div class="movie last">
                                    <div class="movie-image"> <a href="/Detail/DetailPage?idone=@item.IDP"> <span class="play"><span class="name">@item.TenPhim</span></span><img src="@item.Poster" alt="" /></a> </div>
                                    <div>
                                        <p style="text-align:center; font-size:14px;background-color:darkgray; color:black;">@item.TenPhim</p>
                                        <p style="text-align:center;background-color:blueviolet; color:black;">IMDb: @item.Rate  /  View: @item.luotView</p>
                                        <br /><br />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="movie">
                                    <div class="movie-image"><a href="/Detail/DetailPage?idone=@item.IDP"> <span class="play"><span class="name">@item.TenPhim</span></span> <img src="@item.Poster" alt="" /></a> </div>
                                    <div>
                                        <p style="text-align:center;font-size:14px; background-color:darkgray; color:black;">@item.TenPhim</p>
                                        <p style="text-align:center;background-color:blueviolet; color:black; ">IMDb: @item.Rate  /  View: @item.luotView</p>
                                        <p style="text-align:center"></p>
                                        <br /><br />
                                    </div>
                                </div>
                            }

                        }
                    }
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div id="footer">
            <p class="lf">Copyright &copy; 2021 <a href="#">SiteName</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="mailto:hung6nuh@gmail.com">Nguyen Xuan Hung</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>
</html>

